body {
	background-color: Lavender;
	background-size: cover;
	text-align: center;
}
h1 {
	font-style: normal;
	font-family: "Palatino Linotype";
	color: GrayText;
	text-align: center;
}
img{
	width: 15%;
	height:15%;
}
caption{
	font-style: normal;
	font-family: "Palatino Linotype";
	color: GrayText;
}
table {
	background-color: GhostWhite;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid black; }
table, th, td { 
	height: 30px;
	text-align: center;
	color: black;
	border: 2px solid black;
}
th, td {
	padding: 10px;
}
